<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCripto</title>
    <link rel="stylesheet" href="/static/css/milligram.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/spa.js"></script>
</head>
<body>
    <header>myCripto</header>
    <section class="container" id="principal">
        <h1>Control de movimientos</h1>
            <div class="lista-movimientos"> 
                <div class="row" >
                    <table class="tabla-movimientos column">
                        <thead class="td">
                            <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>From</th>
                                <th>Cantidad</th>
                                <th>To</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="column column-20">
                        <label for="invertido">Invertido:</label>
                        <label for="valor">Valor........:</label>
                        <label for="resultado">Resultado:</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="detail-movimiento container" id="formulario">
        <form>
            <div class="row" >
                <input type="hidden" id="idMovimiento">
                <div class="column column-25 column-offset-5">
                    <label for="moneda_from">From:</label> 
                    <select name="moneda_from" id="moneda_from">
                        <option value="EUR">EUR</option>
                        <option value="BTC">BTC</option>
                        <option value="ETH">ETH</option>
                        <option value="LTC">LTC</option>
                        <option value="BNB">BNB</option>
                        <option value="EOS">EOS</option>
                        <option value="XLM">XLM</option>
                        <option value="TRX">TRX</option>
                        <option value="XRP">XRP</option>
                        <option value="BCH">BCH</option>
                        <option value="USDT">USDT</option>
                        <option value="BSV">BSV</option>
                        <option value="ADA">ADA</option>
                    </select>
                </div>
                <div class="column column-25">
                    <label for="moneda_to">To:</label> 
                    <select name="moneda_to" id="moneda_to">
                        <option value="EUR">EUR</option>
                        <option value="BTC">BTC</option>
                        <option value="ETH">ETH</option>
                        <option value="LTC">LTC</option>
                        <option value="BNB">BNB</option>
                        <option value="EOS">EOS</option>
                        <option value="XLM">XLM</option>
                        <option value="TRX">TRX</option>
                        <option value="XRP">XRP</option>
                        <option value="BCH">BCH</option>
                        <option value="USDT">USDT</option>
                        <option value="BSV">BSV</option>
                        <option value="ADA">ADA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="column column-25 column-offset-5">
                    <label for="cantidad_from">Q:</label>
                    <input type="number" name="cantidad_from" id="cantidad_from" step="any">
                    <button id="cambio" >Calcular</button>
                </div>
                <div class="column column-25">
                    <label for="cantidad_to">Q:</label> 
                    <input type="text" name="cantidad_to" id="cantidad_to" value ="" readonly>
                </div>
            </div>
            <div class="row">
                <div class="column column-75">
                    <button class="float-right" id="aceptar" >Ok</button>
                    <a href="/" class="float-right">Reset</a>
                </div>
            </div>
        </form>
    </div>
<footer>&copy 2021 - Todos los derechos reservados</footer>
</body>
</html>